body {
    background-color: rgba(33, 37, 41, 1)
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-date {
    width: 78px;
}

.session-container {
    max-width: 900px;
}

.card {
    border-radius: 20px;
    border-width: 2px;
    max-height: 240px;
    background-color: darkslategray;
    color: white;

}

.img-col {
    max-width: 160px;
}

.time-col {
    max-width: 120px;
}

.card-img {
    max-width: 160px;
    max-height: 240px;
}

.flex-row {
    display: flex !important;
    align-items: first baseline !important; 
}

.w200 {
    width: 200px;             

}
.w650 {
    width: 688px;             
}

.truncate-text {
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;  
}

.truncate-text:hover {
    /* white-space: normal;      */
    overflow: visible;       
    height:auto
}

.title-text {
    font-size: 10vh; 
    align-self: baseline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    text-wrap: nowrap;
    color:aquamarine ;
    

}

.overview-text {
    /* font-size: 10vh;  */
    align-self: baseline;
    position: absolute;
    top: 46window.onload = generateButtons()
%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: white;
    width: 500 px;

}

.sessions {
    /* font-size: 10vh;  */
    align-self: baseline;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -0%);
    

}

.img-container {
            background: url([[${movie.backDropURL}]]) no-repeat center center;
            height: 40%;
            width: 100%;
            position: absolute;
            top: 56px;
            left: 50%;

        }

/* 
.btn-primary {
     --bs-btn-bg: #{$primary};
     --bs-btn-border-color: #{$primary};
 }

 .btn-primary.active {
     --bs-btn-bg: #{$light};
     --bs-btn-border-color: #{$light};
 } */