<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <script type="text/javascript" src="js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
    <body>
        <h1>FORBIDDEN</h1>
        <a href="/" th:href="@{/}">Back to Home Page</a>
    </body>
</html>